In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pastry inventory.csv')

In [3]:
print(df.head())

   sales_outlet_id transaction_date  product_id  start_of_day  quantity_sold  \
0                3         4/1/2019          69            18              8
1                3         4/1/2019          70            18             12
2                3         4/1/2019          71            18              8
3                3         4/1/2019          72            48              9
4                3         4/1/2019          73            18              9

   waste % waste
0     10     56%
1      6     33%
2     10     56%
3     39     81%
4      9     50%

In [4]:
df.columns

Index(['sales_outlet_id', 'transaction_date', 'product_id', 'start_of_day',
       'quantity_sold', 'waste', '% waste'],
      dtype='object')

In [5]:
df1 = df.drop('sales_outlet_id', axis=1)

In [6]:
df1 = df1.drop('transaction_date', axis=1)

In [7]:
df1 = df1.drop('product_id', axis=1)

In [8]:
df1 = df1.drop('% waste', axis=1)

In [9]:
df1.head()

   start_of_day  quantity_sold  waste
0            18              8     10
1            18             12      6
2            18              8     10
3            48              9     39
4            18              9      9

In [10]:
y=df1['quantity_sold'].values
X=df1.drop('quantity_sold', axis=1).values

In [11]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X,y)

KNeighborsClassifier(n_neighbors=6)

In [14]:
X_new = np.array([[18, 10],
                 [48, 39],
                 [25, 18]])
soldprediction = knn.predict(X_new)
print(soldprediction)

[8 9 3]